sudo: required
language: java
jdk:
  - oraclejdk8
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - mvn prepare-package
cache:
  directories:
  - $HOME/.m2
after_script:
  - mv target/site/jacoco/jacoco.xml ./
  - sed -i 's_com_server/src/main/java/com_g' jacoco.xml
  - ./cc-test-reporter --debug after-build --exit-code $TRAVIS_TEST_RESULT
addons:
  mariadb: '10.0'
before_script:
  - mysql -u root -e 'CREATE DATABASE testDB;'
  - mysql -u root -e 'CREATE TABLE testDB.airports(id VARCHAR(255), name VARCHAR(255), municipality VARCHAR(255), keywords VARCHAR(255));'
  - mysql -u root -e 'INSERT INTO airports('DIA', 'Denver International Airport', 'DEN', 'Denver')';
  - mysql -u root -e 'INSERT INTO testDB.airports('SMA', 'Sterling Municial Airport', 'STE', 'Sterling')';